@import url('https://fonts.googleapis.com/css?family=Arimo|Asap|Cairo|Comfortaa|Noto+Sans|Nunito|Raleway|Roboto|Rubik&display=swap');

body.bod1{ font-family:'Nunito Light',sans-serif;
           margin:0;
           margin-top:10
         }
/* Barra menu principal  */
/*  Botones horizontales */
.meno1{ display: block;
        font-family:'Noto Sans',sans-serif;
        color: rgb(2,97,92);
        text-decoration: none;
        text-align: center;
        font-size: large;
        margin-left: 0.5em;
        margin-right: 0.5em;
        }
li.meno1{ float:left;}
ul.meno1 { display: inline-block;
           margin-bottom:0}
.header div{
  display:inline;
}
.header .dropdown-content{
  display:none;
}
.meno1:hover {color:black;}
/*   Desplegable*/
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
  border-color: rgb(157,222,219);
  border-top-color: rgb(1255,255,255);
  border-style: solid;
  border-width:1px;
  border-top-width:2px;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

#m1:hover .dropdown-content {
  display: block;
}
#lenguaje:hover .dropdown-content {
  display: block;
}

/* Barra menu principal  */

.titulo {font-family:'Comfortaa Light',sans-serif;
         font-size: 25;
         display: inline;
         vertical-align: top;}
.header{ border-bottom-style: solid;
         border-bottom-width: 1px;
        border-bottom-color: rgb(157,222,219)}
